*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Landing Page css */
.landing-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
}

.left-part-landing{
    width: 50%;
    height: 804px;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    justify-content: center;
}

.app-logo{
    position: absolute;
    width: 107px;
    height: 83px;
    top: 33px;
}

.landing-page-right{
    width: 50%;
    height: 804px;
    border-radius: 0px 0px 0px 198.902px;
}


.heading{
    width: 345px;
    height: 207px;
    left: 100px;
    top: 227px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 69px;
    color: #0E2368;
}

.headLine{
    width: 345px;
    height: 55px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4447px;
    line-height: 27px;
    color: #444957;
    margin: 25px 0px;
}

.heading > b{
    color: #E23744;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 34px;
    gap: 7px;
    width: 190px;
    height: 63px;
    background: #E23744;
    border-radius: 34px;
    border: none;
}

.btn > p{
    width: 121px;
    height: 36px;
    border: none        ;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right-part-landing{
    width: 50%;

}

.get-in-touch-btn{
    background: transparent;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 26px;
    gap: 10px;
    position: absolute;
    width: 122px;
    height: 42px;
    right: 2%;
    top: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 21px;
}

.get-intouch-text-content{
    width: 99px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pizza-img{
    align-self: flex-end;
    width: 100%;
    height: 100vh;
}

.vector-image{
    position: absolute;
    width: 52%;
    height: 100vh;
    right: 0%;
    top: 0px;
}




/* About page CSS */
.about-container{
    height: 653px;
    display: flex;
    align-items: center;
}

.about-section{
    width: 100%;
    height: 467px;
    background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-content-section{
    display: flex;
    flex-direction: column;
}
    
.about-img{
    width: 384px;
    height: 468px;
}

.about-us-heading{
    width: 422px;
    height: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 27px;
    color: #0E2368;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-us-text{
    width: 447px;
    height: 138px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #444957;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 27.41px;
}

.about-read-more-btn{
    margin-top: 27.41px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 26px;
    gap: 10px;
    width: 132px;
    height: 42px;
    background: #E23744;
    border-radius: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 36px;
}


/* Card Style */
.card{
    box-sizing: border-box;
    width: 381px;
    height: 554px;
    background: #FFFFFF;
    border: 1.37039px solid rgba(147, 162, 211, 0.38);
    border-radius: 20.937px;
    display:flex ;
    flex-direction:column ;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 20px;
}

/* .card:nth-child(2){
    margin: 0px 42px;
} */

.articles-section{
    display: flex;
    flex-direction:column ;
    align-items: center;

}

.article-heading{
    width: 461px;
    height: 84px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 42px;
    letter-spacing: 0.04em;
    color: #0E2368;
    align-self: flex-start;
    margin-left: 8%;
}

.cardImage{
    width: 326px;
    height: 257px;
    left: 135px;
    border-radius: 21px;
}

.cardName{
    width: 285px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    color: #0E2368;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-details{
    width: 295px;
    height: 81px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #444957;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-btn{   
    background: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 26px;
    gap: 10px;
    width: 131px;
    height: 42px;
    border: 1px solid #424961;
    border-radius: 21px;
    flex: none;
    order: 1;
    flex-grow: 0;
    align-self: flex-start;
    margin-left: 28px;
}

.card-btn > p{
    width: 79px;
    height: 36px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16.4447px;
    line-height: 36px;
    color: #424961;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.pagination{
    font-family: 'Source Sans Pro';
    align-self: center;
    display: flex;
    margin: 65px 0px;
    align-items: center;
}


.pagination > p{
    width: 30px;
    height: 28px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #424961;
    margin: 0px 23px;
}
.pagination-prev-forward-btn{
    box-sizing: border-box;
    width: 28px;
    height: 29px;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
    display: grid;
    place-items: center;
    background: transparent;
}
.pagination-prev-forward-btn:hover{
    cursor: pointer;
}
/* footer Styling */

.footer-container{
    width: 100%;
    height: 362px;
    left: 1px;
    top: 2451px;
    background: #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-sections{
    min-height: 250px;
}

.contact-us-heading{
    width: 106px;
    height: 27px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18.8433px;
    line-height: 27px;
     letter-spacing: 0.03em;
    color: #0E2368;
    margin-bottom: 15px;

}
ul li{
    width: 217px;
    height: 69px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6559px;
    line-height: 23px;
    color: #646874;
    list-style: none;
}

.more-section > ul > li {
    height:26px  ;
    width: 75px;
    margin-top: 14px;
    cursor: pointer;
}

.social-logo{
    color: #0E2368;
}
.social-logo:hover{
    cursor: pointer;
}

.twitter{
    margin: 0px 20px;
}
.copyright{
    width: 197px;
    height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6559px;
    line-height: 25px;
    text-align: center;
    color: #828B9C;
    margin-top: 100px;
}

.social-section{
    display: flex;
    flex-direction: column;
}

button:hover{
    cursor: pointer;
}

@media only screen and (max-width:1274px) {
    .card{
        width: 301px;
        height:445px;
    }
    .cardImage{
        width: 246px ;
        height: 181px;
    }
    .cardName{
        width: 255px;
        font-size: 19px;
    }
    .card-details{
        width: 249px;
        line-height: 21px;
    }
}

@media only screen and (max-width:990px) and (min-width:844px){
    .card{
        width: 250px;
        height:455px;
    }
    .cardImage{
        width: 200px ;
        height: 151px;
    }
    .cardName{
        width: 214px;
        font-size: 16px;
    }
    .card-details{
        width: 214px;
        line-height: 21px;
    }
    .card-btn{
        margin-left: 15px;
    }
    
    
    
}
@media only screen and (max-width:875px) {
    .about-section{
        height: 411px;
        
    }
    .about-img{
        width: 286px;
        height: 411px;
    }
    .about-us-heading{
        font-size: 40px;
    }
    .about-us-text{
        width: 381px;
    }
}
@media only screen and (max-width:845px) {
    .cards-container{
        justify-content: center;
    }
    /* .card:nth-child(1),
    .card:nth-child(2),
    .card:nth-child(3){
        margin: 10px 10px;
    } */
    
}
@media only screen and (max-width:793px) and (min-width:540px) {
    .about-img{
        text-align: center;
        display: none;
        align-items: center;
    }
    .heading{
        width: 282px;
        height: 207px;
        font-size: 52px;
        line-height: 59px;
    }
    .headLine{
        width: 278px;
        line-height: 23px;
        margin: 46px 0px;
    }
    .copyright{
        font-size: 12.5px;
    }
    .footer-container > img {
        display: none;
    } 
    .get-in-touch-btn{
        width: 103px;
    }
    .get-intouch-text-content{
        font-size: 13px;
    }
    .article-heading{
        align-self: center;
    }
    
    ul li{
        width: 100px;
        height: fit-content;
    }
}


@media only screen and (max-width: 540px) {
    .landing-page{
        height: auto;
    }
    .left-part-landing{
        align-items: center;
        text-align: center;
        width: 100%;
        height: 254px;
        justify-content: flex-start;
    }
    .heading{
        width: 240px;
        height: 130px;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
    }
    .headLine{
        
        width: 249px;
        height: 36px;
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
    }

    .btn{
        justify-content: center;
        align-items: center;
        padding: 12px 30px;
        gap: 6px;
        width: 120px;
        height: 40px;
        border-radius: 30px;
    }
    .btn > p {
        width: 83px;
        height: 32px;
        font-weight: 700;
        font-size: 12.2664px;
        line-height: 32px;
        letter-spacing: 0.01em;
    }
    .get-in-touch-btn{
        padding: 4px 33px;
        gap: 13px;
        width: 87.89px;
        height: 31px;
        border-radius: 27px;
    }
    
    .get-intouch-text-content{
        width: 67px;
        height: 27px;
        font-size: 11px;
        line-height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app-logo{
        display: none;
    }

    .right-part-landing{
        width: 100%;
    }

    .landing-page{
        flex-direction: column-reverse;
    }

    .pizza-img{
        width: 100%;
        height: 413.72px;
    }

    .vector-image{
        width: 100%;
        height: 426px;
    }


    /* About section css for small screens */

    .about-section{
        width: 100%;
        height: 516px;
    }
    .about-us-heading{
        width: 120px;
        height: 35px;
        font-size: 26px;
        line-height: 35px;
        text-align: center;
    }
    .about-us-text{
        width: 275px;
        height: 138px;
        font-size: 11px;
        line-height: 21px;
        text-align: center;
    }
    .about-read-more-btn{
        justify-content: center;
        align-items: center;
        padding: 4px 33px;
        gap: 13px;
        width: 129px;
        height: 29px;
        border-radius: 27px;
        font-size: 11px;
        line-height: 46px;
        letter-spacing: 0.03em;
    }
   
    .about-content-section{
        align-items: center;
    }
    .about-img{
        display: none;
    }

    /* Article section */
    .article-heading{
        margin-top: 60px;
        width: 216px;
        height: 54px;
        font-size: 28px;
        line-height: 54px;
        letter-spacing: 0.04em;
        align-self: center;
    }

    /* Cards Css */
    /* .card:nth-child(2){
        margin: 30px ;
    } */
    .card{
        margin: 31px 0px;
        box-sizing: border-box;
        width: 271px;
        height: 484px;
        border: 0.876168px solid #373737;
        border-radius: 26.7725px;
    }
    .cardImage{
        width: 204px;
        height: 166px;
        border-radius: 27px;
    }
    
    .cardName{
        width: 206px;
        height: 35px;
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 0.05em;

    }
    .card-details{

        width: 213px;
        height: 106px;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: -0.01em;
    }
    .card-btn{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 33px;
        gap: 13px;
        width: 118px;
        height: 26px;
        border: 2px solid #424961;
        border-radius: 27px;
    }
    .card-btn > p{

        width: 53px;
        height: 46px;
        font-size: 11px;
        line-height: 46px;
    }
    .pagination > p{
        width: 17px;
        height: 28px;
        font-size: 12px;
        line-height: 27px;
        color: #424961;

    }
    .pagination-prev-forward-btn{
        width: 16px;
        height: 16px;

    }
    .prev-forward-img{
        width: 5px;
    }

    /* Footer Container */

    .footer-container{
        width: 100%;
        height: 608px;
        flex-direction: column;
        align-self: center;

    }
    .footer-sections{
        min-height: 0px;
    }
    .footer-container  > img {
        width: 75px;
        height: 58px;
    }
   
    ul li{
        width: 253px;
        height: 25px;
        font-size: 8.76168px;
        line-height: 12px;
    }

    .social-heading{
        display: none;
    }
    .social-section{
        flex-direction: column-reverse;
    }
    .copyright{
        margin: 0%;
        width: 111px;
        height: 33px;
        font-size: 8.76168px;
        line-height: 32px;
        text-align: center;
    }
    .social-icons{
        text-align: center;
        margin-top: 11px;
    }
    .contact-section{
        align-self: flex-start;
        margin-left: 42px;
    }
    .more-section{
        align-self: flex-start;
        margin-left: 42px;
    }
    .twitter{
        margin: 0px 20px ;
    }
    
}
